/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Form Container */
.contact-form-container {
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
}

/* Form */
.contact-form h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 12px;
  color: black;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}
.name-group {
  display: flex;
  gap: 10px;
}

.name-group .form-group {
  flex: 1;
}
/* Hover, Focus, and Active States */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: green;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: green;
}

button:active {
  background-color: green;
}

.query-type-group {
  display: flex;
  gap: 15px;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  border-color: gainsboro;
}

input[type="radio"] {
  margin-right: 5px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

/* Responsive */
@media (max-width: 600px) {
  .contact-form-container {
    padding: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }
}
